<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TN.Properties.Settings.TNConnectionString" connectionString="Data Source=DESKTOP-KIBMRHT;Initial Catalog=TN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TN.Properties.Settings.TNConnectionString1" connectionString="Data Source=DESKTOP-KIBMRHT\MSSQLSERVER1;Initial Catalog=TN;Persist Security Info=True;User ID=LQL"
      providerName="System.Data.SqlClient" />
    <add name="TN.Properties.Settings.TNConnectionString2" connectionString="Data Source=DESKTOP-KIBMRHT\MSSQLSERVER1;Initial Catalog=TN;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="rp_connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-KIBMRHT\MSSQLSERVER1;user id=sa;password=1;initial catalog=TN;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.5.2" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>